@font-face {
    font-family: medievalSharp;
    src: url('../Fonts/MedievalSharp/MedievalSharp-Regular.woff2') format('woff2');
    src: url('../Fonts/MedievalSharp/MedievalSharp-Regular.woff') format('woff'),
         url('../Fonts/MedievalSharp/MedievalSharp-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

:root{
    --mainDarkGray: #0E1010;
    --darkRed: #991B1E;
    --lightRed: #cf4e50;
    --gray: #3C3F40;
    --gold: #926D41;
    --yellow: #D5B85A;
}

*{
    margin: 0;
    padding: 0;
    color: var(--mainDarkGray);
    font-family: 'palatino-linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

body{
    display: flex;
    flex-direction: row;
}

.mainSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #abb0b127;
    padding: 0 25px 0 50px;
}

nav{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-shadow: 3px 0 7px 0 rgba(0,0,0,0.15);
    width: fit-content;
}

.navLink{
    display: flex;
    padding: 15px 0px 15px 30px;
    border: none;
    background-color: white;
    width: 230px;
    font-size: 13pt;
    text-align: left;
    align-items: center;
}

.navLink:hover{
    background-color: var(--darkRed);
    color: white;
}

#here{
    background-color: var(--darkRed);
    color: white;
    font-weight: bold;
}

.navLink:hover .navIcon, #here .navIcon{
    filter: invert(100%);
}

.navIcon{
    width: 21px;
    margin-right: 10px;
}

.collapseNav{
    all: unset;
    position: absolute;
    top: 17px;
    right: 7px;
    width: 20px;
    height: 20px;
}

.chevron:after {
    content: ' ';
    display: inline-block;
    border-bottom: 3px solid var(--mainDarkGray);
    border-right: 3px solid var(--mainDarkGray);
    height: 8px;
    width: 8px;
    transform: rotate(135deg);
}

h1{
    font-size: 17pt;
    font-family: medievalSharp, 'Cormorant Garamond', Georgia, serif;
    color: var(--mainDarkGray);
    margin-top: 15px;
}

h1.siteTitle{
    font-size: 1.5em;
    margin: 15px 0 20px 20px;
    font-family: medievalSharp, 'Cormorant Garamond', Georgia, serif;
}

/* FILTERS START */
.filterSelect{
    position: relative;
    min-width: 150px;
    width: fit-content;
    cursor: pointer;
    justify-self: flex-end;
    margin: 0 24px;
    background-color: var(--gold);
}

.filterSelect::before,
.filterSelect::after{
  content: "";
  position: absolute;
  top: 0;
  width: 24px;
  height: 100%;
  background: inherit;
}

.filterSelect::before {
  left: -22px;
  clip-path: polygon(90% 0, 100% 0, 100% 100%, 90% 100%, 15% 50%)
}

.filterSelect::after {
  right: -22px;
  clip-path: polygon(10% 0, 0 0, 0 100%, 10% 100%, 75% 50%);
}

.filterSelect .subcategoryFilter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px 15px;
    font-size: 13pt;
    z-index: 10;
    color: white;
}

.subcategoryFilter span, .options div{
    color: white;
}

.filterSelect .options{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: inherit;
    color: white;
}

.filterSelect .options div:hover{
    background-color: var(--gold);
}

.filterSelect .options div{
    padding: 8px;
    background-color: var(--mainDarkGray);
}

.filterCarrot{
    width: 0.8em;
    height: 0.5em;
    margin-left: 10px;
    background-color: white;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
/* FILTERS END */

.section{
    background-color: white;
    flex-direction: column;
    width: 95%;
    box-shadow: 3px 0 7px 0 rgba(0,0,0,0.15);
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
}

.sectionHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.listedItems{
    width: 100%;
    text-align: left;
}

td{
    vertical-align: middle;
}

.editButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.editButton:hover{
    cursor: pointer;
}

.editIcon{
    width: 17px;
}

.typeSelection, .typeSelection:focus{
    border: none;
    font-size: 24px;
}

.typeSelection option{
    font-size: 15px;
    border: none;
}

table{
    border-spacing: 0 10px;
    padding: 0 7px;
}

.price{
    text-align: end;
}

.otherButtons{
    display: flex;
    justify-self: right;
    width: fit-content;
    margin-right: 3%;
    height: 25px;
    align-items: center;
    margin-top: 20px;
}

.otherButtons:hover{
    cursor: pointer;
}

#backButton{
    display: none;
    justify-self: left;
    font-size: 30pt;
}

/*  FORMS START */
.addForm, .editForm{
    display: none;
}

.addMainForm, .editMainForm{
    display: flex;
    flex-direction: column;
    padding: 30px 30px 15px;
    font-size: 13pt;
}

.weaponSpecificForm{
    display: flex;
    flex-direction: column;
}

input, .addMainForm select, .editMainForm select{
    font-size: 12pt;
    margin: 5px 0 15px;
    padding: 5px 10px;
}

input[type="file"] {
  display: none;
}

.customFileUpload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

form h3{
    margin-top: 10px;
}

.submitButton{
    margin: 20px 0 0;
    font-weight: 500;
    font-family: medievalSharp, 'Cormorant Garamond', Georgia, serif;
    background-color: var(--gold);
    color: white;
    border: none;
    padding: 10px 0;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.25);
    transition: background-color 0.3s, color 0.3s;
}

.submitButton:hover{
    cursor: pointer;
    background-color: var(--yellow);
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.formSubsection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
}

.formItem{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.topSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.deleteButton{
    all: unset;
    background-color: var(--darkRed);
    padding: 7px 13px;
    color: white;
    border-radius: 5px;
    font-family: 'palatino-linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    font-size: 13pt;
}

.deleteButton:hover{
    cursor: pointer;
    background-color: var(--lightRed);
}
/* FORMS END */