.checkoutForm{
    justify-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 30px 30px;
    font-size: 13pt;
    background-color: var(--mainDarkGray);
    width: 60%;
    min-width: fit-content;
}

.weaponSpecificForm{
    display: flex;
    flex-direction: column;
}

input, .addMainForm select, .checkoutForm select, textarea{
    font-size: 12pt;
    margin: 5px 0 15px;
    padding: 5px 10px;
    background-color: var(--gray);

}

input:-webkit-autofill,
input:-webkit-autofill:focus,
option:-webkit-autofill,
option:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--gray) inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 9999s ease-in-out 0s;
}

input[type="file"] {
  display: none;
}

.customFileUpload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--gray);
}

form h3{
    margin-top: 10px;
}

.submitButton{
    align-self: center;
    width: 80%;
    font-size: 13pt;
    margin: 30px 0 0;
    font-weight: 500;
    font-family: medievalSharp, 'Cormorant Garamond', Georgia, serif;
    background-color: var(--gold);
    color: white;
    border: none;
    padding: 10px 0;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.25);
    transition: background-color 0.3s, color 0.3s;
    clip-path: polygon(
        22px 0,
        calc(100% - 22px) 0,
        100% 50%,
        calc(100% - 22px) 100%,
        22px 100%,
        0 50%
    );
}

.submitButton:hover{
    cursor: pointer;
    background-color: var(--darkRed);
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.submitButton label{
    color: var(--gray);
}

.formSubsection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.formItem, .formItemSub, .formItemSub2{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
}

.formItemSub{
    width: 30%;
}

.formItemSub2{
    width: 45%;
}

.formCheckbox{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 15px;
    margin-top: 15px;
}

input[type="checkbox"]:hover{
    cursor: pointer;
}

.formCheckbox label{
    color: var(--lightGray);
}

input[type="checkbox"] {
  accent-color: var(--darkRed);
}

input[type="checkbox"]:-webkit-autofill,
input[type="checkbox"]:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--gray) inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 9999s ease-in-out 0s;
}

#messageBox{
    height: 200px;
}