@font-face {
    font-family: medievalSharp;
    src: url('../Fonts/MedievalSharp/MedievalSharp-Regular.woff2') format('woff2');
    src: url('../Fonts/MedievalSharp/MedievalSharp-Regular.woff') format('woff'),
         url('../Fonts/MedievalSharp/MedievalSharp-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

:root{
    --mainDarkGray: #0E1010;
    --darkRed: #991B1E;
    --gray: #3C3F40;
    --gold: #926D41;
}

*{
    margin:0;
    padding:0;
    color: white;
    font-family: 'palatino-linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

body{
    display: flex;
    align-content: center;
    flex-direction: column;
    background-image: url(../Images/background.jpg);
    background-size: cover;
}

a{
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.content{
    width: 85%;
    margin: auto;
    margin-bottom: 140px;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 53px;
}

#indexContainer{
    margin: 0;
}

.bannerImgBorder{
    display: block;
    width: 100%;

}

.siteTitle{
    position: absolute;
    left: 30px;
    top: 20px;
    z-index: 2;
    pointer-events: all;
}

#index{
    height: 900px;
}

.bannerImg{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 517px;
}

.bgImg{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.navigation{
    z-index: 5;
    position: absolute;
    width: 100%;
    top: 0;
}

.topSection{
    padding: 20px 30px;
    display: flex;
    justify-content: right;
    width: auto;
    align-items: center;
}

/* NAV BAR AND DROPDOWNS */

.navBar{
    display: flex;
    justify-content: right;
    padding: 0 30px;
}

.dropdown .navLink, .dropdown .navSubLink{
    all: unset;
    display: block;
    line-height: 55px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    min-width: 85px;
    background-color: var(--mainDarkGray);
    color: white;
    font-size: 12pt;
    text-decoration: none;
}

.dropdown .navSubLink{
    text-align: left;
    padding-left: 5px;
    width: 100%;
}
    

.navBar button:hover{
    background-color: var(--darkRed);
}

.dropdownContent{
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    list-style: none;
    overflow: hidden;
}

.dropdownContent li{
    margin: 0;
    padding: 0;
}

.dropdownContent a{
    width: 100%;
    font-size: 11pt;
    display: block;
    padding: 10px 0 10px 5px;
    margin: 0;
    background-color: var(--mainDarkGray);
}

.dropdown{
    position: relative;
}

.dropdown:hover .dropdownContent, .dropdown:focus-within .dropdownContent {
    display:block;
}

/* NAV BAR AND DROPDOWNS END */

/* HEADINGS */
.title{
    font-family: medievalSharp, 'Cormorant Garamond', Georgia, serif;
    font-size: 53pt;
    font-weight:bolder;
    z-index: 3;
    position: absolute;
    bottom: 77px;
    right: 77px;
}

h1{
    font-family: medievalSharp, 'Cormorant Garamond', Georgia, serif;
    color: white;
    font-size: 43pt;
}

h2{
    font-family: medievalSharp, 'Cormorant Garamond', Georgia, serif;
    color: white;
    font-size: 37pt;
    font-weight: lighter;
}

h3{
    margin-bottom: 20px;
    font-family: medievalSharp, 'Cormorant Garamond', Georgia, serif;
    color: white;
    font-size: 23pt;
    font-weight: lighter;
}

h4{
    font-family: medievalSharp, 'Cormorant Garamond', Georgia, serif;
    color: white;
    font-size: 15pt;
    font-weight: lighter;
}

/* HEADINGS END */

.accountCart{
    display: flex;
}

.cart{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.cartIcon{
    width: 100%;
    height: 100%;
}

/* BUTTONS */
.button1, .button2 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 7px 5px;
    margin: 0 20px;
    background-color: #926D41;
    color: white;
    border: none;
    justify-self: center;
    align-self: center;
}

.button1:hover, .button2:hover{
    background-color: var(--darkRed);
}

.button1::before,
.button1::after,
.button2::before,
.button2::after{
  content: "";
  position: absolute;
  top: 0;
  width: 24px;
  height: 100%;
  background: inherit;
}

.button1::before, .button2::before {
  left: -22px;
  clip-path: polygon(90% 0, 100% 0, 100% 100%, 90% 100%, 15% 50%)
}

.button1::after, .button2::after {
  right: -22px;
  clip-path: polygon(10% 0, 0 0, 0 100%, 10% 100%, 75% 50%);
}

.button1{
    font-size: 12pt;
}

.button2{
    font-size: 20px;
}

.button2#signUp{
    padding: 7px 10px;
}
/* BUTTONS END */

#aboutSection{
    margin: -150px 0 0;
    width: 900px;
    height: 500px;
    z-index: 1;
    justify-content: left;
}

#progressImgContainer{
    width: 67%;
}

#progressImg{
    width: 100%;
}

.textBlurb{
    padding: 50px 15px 20px 40px;
    width:33%;
}

p{
    margin-bottom: 45px;
    font-size: 13.5pt;
    line-height: 165%;
    letter-spacing: -1.9%;
}

.indexCard{
    margin: 140px 0;
    width: 100%;
    height: auto;
    display: flex;
    background-color: var(--mainDarkGray);
    border-radius: 5%;
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.7);
    overflow: hidden;
    justify-content: space-between;
}

#customizeWeapon{
    max-height: 633px;
}

#indexCardContent{
    width: 33%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 53px;
}

.indexCardImg{
    display: flex;
    width: 57%;
    justify-content: center;
    overflow: hidden;
}

.indexCardImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#premadeWeapon{
    flex-direction: column;
    position: relative;
    margin-bottom: 0;
}

#indexCardContent2{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 57px 53px;
    z-index: 1;
    align-items: flex-end;
    justify-content: space-between;
    height: 35%;
}

#indexCardContent2 h3, #indexCardContent2 h1{
    text-align: right;
}

#indexCardContent2 .button2{
    width: 185px;
    align-self: flex-end;
}

/* FILTERS START */
.filterSelect{
    position: relative;
    min-width: 150px;
    width: fit-content;
    background-color: var(--mainDarkGray);
    border-radius: 12px 12px 0 0;
    cursor: pointer;
    justify-self: flex-end;
    margin-bottom: 53px;
}

.filterSelect .subcategoryFilter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gold);
    padding: 10px 15px;
    font-size: 13pt;
    border-radius: 12px;
    z-index: 10;
}

.filterSelect .options{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: inherit;
}

.filterSelect .options div{
    padding: 8px;
    background-color: var(--mainDarkGray);
}

.filterSelect .options div:hover{
    background-color: var(--gold);
}

.filterCarrot{
    width: 0.8em;
    height: 0.5em;
    margin-left: 10px;
    background-color: white;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
/* FILTERS END


/* WEAPON LISTINGS START */
.availableWeapons{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.weaponItemListing{
    position: relative;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(20% - 40px); /* 20% width per item, minus gap */
    box-sizing: border-box;
    max-width: calc(20% - 20px);
    height: auto;
    text-align: center;
}

.weaponItemListing .imgContainer{
    position: relative;
}

.imgContainer img{
    width: 100%;
    background-size: cover;
}

.weaponItemListing .listingContent{
    width: 100%;
    padding: 1% 0;
}

.listingContent p{
    margin-bottom: 2px;
    font-size: 12pt;
    line-height: 107%;
}

.price{
    font-weight: 900;
}

.listingHoverBorderContainer{
    width: 106%;
    height: 100%;
    position: absolute;
    left: -3%;
    top: -1.5%;
    z-index:1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.listingHoverBorderContainer .listingHoverBorder{
    width: 100%;
    height: 100%;
    background-size: cover;
    box-sizing: border-box;
}

.weaponItemListing:hover .listingHoverBorderContainer, .weaponItemListing:focus-within .listingHoverBorderContainer{
    opacity: 1;
}

/* WEAPON LISTINGS END */

/* FOOTER START */
footer{
    position: relative;
    min-height: 296px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px -50px 30.5px 0 rgba(0, 0, 0, 0.45);
}

footer .bgImg{
    position: absolute;
    inset: 0;
    z-index: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footerContent{
    position: relative;
    width: 80%;
    margin: auto;
    z-index: 1
}

.footerTop, .footerBottom{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerTop{
    height: 70%;
}

.footerBottom{
    margin-bottom: 7px;
}

.footerNav{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 0 15px;
}

.logoBanner{
    height: 30%;
}

.footerNav h4 {
    margin: 5px;
    justify-self: center;
}

.footerNav #cServiceContainer{
    width: 30%;
}

.linkDivider{
    width: 100%;
    height: 6px;
    margin: 3px 0;
}

.footerNavSection{
    width: 23%;
}

.footerNav a{
    text-decoration: none;
}

.footerNav a:hover{
    text-decoration: underline solid white 1px;
}

.footerNav ul{
    list-style: none;
    font-size: 11pt;
}

.footerNav li {
    margin: 5px 13px;
}

#footerDivider{
    width: 100%;
    margin: 10px 0;
}

.socialMedia img{
    width: 32px;
}

.footerBottom p{
    font-size: 10pt;
    margin: 0;
}
/* FOOTER END */